html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/** {*/
    /*border: 1px dashed white;*/
/*}*/

ul {
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
    background-image: url('../img/mars-image-1440x768.jpg');
    width: 100%
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    /*text-align: center;*/
}

.center {
    text-align: center;
}

h1 {
    text-align: left;
    display: inline-block;
    position: relative;
    top: -45px;
    margin-left: 1%;
}

#logo {
    margin-top: 2%;
    margin-left: 2%;
    width: 100px;
    height: 116px;
}

.progress-bar {
    width: 50%;
    margin: 0 auto;
}

.progress-bar ul {
    display: flex;
    justify-content: space-between;
}

.progress-bar li {
    display: inline-block;
    border: white 1px solid;
    padding: 0px 5px;
    border-radius: 100%;
}

.active {
    background-color: white;
    color: black;
}

hr {
    position: relative;
    top: -27px;
    z-index: -50;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.q-and-a {
    padding: 0% 20%;
    font-size: 2em;
}

.answer {
    font-size: 1.5em;
    min-width: 290px;
}

.option {
    font-size: 4em;
    border: white solid 5px;
    width: 25%;
    margin: 0 auto;
    border-radius: 100%;
}

.option:hover {
    background-color: white;
    opacity: 0.3;
    color: black;
}

.multiple-choice ul {
    width: 80%;
    margin: 0 auto;
}

.multiple-choice ul li {
    display: inline-block;
    padding: 0 2%;
    /*min-width: 350px;*/
}

.footer {
    font-size: 0.5em;
    margin-top: 50px;
}